<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <div class="row pb-5 pt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          Edit Rewards
        </h1>

        <%- include('./partials/messages.ejs') %>

        <form action="/rewardspage/<%= index %>/?_method=PUT" method="POST" id="myForm">
          <div class="form-group">
            <label for="rewardsType" class="forminput">Type Of Rewards</label>
            <input type="text" class="form-control" id="rewardsType" name="rewardsType" required="true"
              class="forminput" value="<%= result.rewardsType %>">


            <label for="rewardsAmount" class="forminput">Rewards Amount</label>
            <input type="number" class="form-control" id="rewardsAmount" required="true" min='1' name="rewardsAmount"
              class="forminput" value="<%= result.rewardsAmount %>">


            <label for="rewardsExpiry" class="forminput">Rewards Expiry Date</label>
            <input type="date" class="form-control" id="rewardsExpiry" name="rewardsExpiry" required="true"
              class="forminput">
            <label for="rewardsLocation" class="forminput">Where do to utilized rewards?</label>
            <input type="text" class="form-control" id="rewardsLocation" name="rewardsLocation" required="true"
              class="forminput" value="<%= result.rewardsLocation %>">
          </div>
          <div class="form-group">
          </div>
          <button class="btn btn-dark" type="submit" class="forminput" id="btn-submit">Submit</button>

          <a class="btn btn-dark back" href="/rewardspage">Back</a>

        </form>
      </div>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Front End</h6>
          <ul class="footer-links">
            <li>Html</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>BootStrap</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>BackEnd</h6>
          <ul class="footer-links">
            <li><a href="#">Nodejs</a></li>
            <li><a href="#">Expressjs</a></li>
            <li><a href="#">JQuery</a></li>
            <li><a href="#">Mongoose</a></li>
            <li><a href="#">EJS</a></li>
            <li><a href="#">PassportJS</a></li>
            <li><a href="#">Bcrypt</a></li>
            <li><a href="#">Express Session</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Others</h6>
          <ul class="footer-links">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Mlab</a></li>
            <li><a href="#">Heroku</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
            <a href="#">Might-Caverns</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


</body>

</html>